/**/
.ui-listview>.ui-li-static {
	padding: 0 0 0 0;
}

.ui-panel-inner .ui-collapsible-heading {
	margin: 0em !important;
}

.login-form-div {
	margin: 0 auto !important;
	max-width: 30em;
}

.login-user-input {
	position: relative;
	display: inline;
	float: right;
	top: 1.25em;
	right: .8em;
}

ui-panel-inner ui-first-child {
	background-color: #f00 !important; /*{a-bar-background-color}*/;
	border-color: #003e67 /*{a-bar-border}*/;
	color: #ffffff /*{a-bar-color}*/;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0
		/*{a-bar-shadow-radius}*/    #444444 /*{a-bar-shadow-color}*/;
	font-weight: bold;
}
/*
.app-header, .app-header h1{
	background-color: #40a0ff !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #555 !important;
}
*/
.pager {
	margin: 0 auto;
	display: block;
	position: relative;
	bottom: -2em;
	z-index: 100 !important;
}

.table {
	position: relative;
	top: -2em;
}

.h3 {
	margin: 0;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.display-inline-block {
	display: inline !important;
}

.
body, input, select, textarea, button, .ui-btn {
	/*
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1;
    */
	
}

.tablesaw-bar {
	/*
	display: inline-block;
    float: right;
	display: block;
	float: right;
	*/
	
}

.page-number {
	font-weight: bold;
	display: block;
	float: left;
	color: #717171;
	background: #e9e9e9;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	margin: auto;
	width: 2em;
	height: 1.2em;
	text-align: center;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .7), 0px 1px 3px
		rgba(0, 0, 0, .1);
}

.page-number:hover {
	background: #eee;
	color: #555;
	background-color: #ddd;
}

.page-number.active {
	-webkit-box-shadow: inset -1px 2px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset -1px 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: inset -1px 2px 5px rgba(0, 0, 0, 0.25);
}
/*
.page-number.previous-page-number{
	background-color: #f00;
    color: #fff ;
}
*/
.page-number.previous-page-number.inactive {
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
	background-color: #00f;
}

.searchFormDiv {
	margin: 0 auto !important;
	
}

.search {
	position: absolute;
	float: right;
	right: 0.3em;
	top: 2.75em;
	display: block !important;
	z-index: 1000 !important;
}
.insert {
    position: absolute;
    float: left;
    left: 0.3em;
    top: 2.75em;
    display: block !important;
    z-index: 1000 !important;
}

.search-left {

    
}

/*
div.ui-input-text {
	width: 80% !important;
	display: inline-block !important;
}
*/